apiVersion: v1
kind: ConfigMap
metadata:
  name: config
data:
  AGENT_DOCKER_IMAGE: {{ agent_docker_image }}
  ASSISTED_SERVICE_HOST: {{ assisted_installer_address }}:8090
  ASSISTED_SERVICE_SCHEME: http
  AUTH_TYPE: none
  DB_HOST: 127.0.0.1
  DB_NAME: installer
  DB_PASS: admin
  DB_PORT: "5432"
  DB_USER: admin
  DEPLOY_TARGET: onprem
  DISK_ENCRYPTION_SUPPORT: {{ disk_encryption_support | default('true') }}
  DUMMY_IGNITION: "false"
  ENABLE_SINGLE_NODE_DNSMASQ: {{ enable_single_node_dnsmasq | default('true') }}
  HW_VALIDATOR_REQUIREMENTS: '[{"version":"default","master":{"cpu_cores":4,"ram_mib":16384,"disk_size_gb":100,"installation_disk_speed_threshold_ms":10,"network_latency_threshold_ms":100,"packet_loss_percentage":0},"worker":{"cpu_cores":2,"ram_mib":8192,"disk_size_gb":100,"installation_disk_speed_threshold_ms":10,"network_latency_threshold_ms":1000,"packet_loss_percentage":10},"sno":{"cpu_cores":8,"ram_mib":16384,"disk_size_gb":100,"installation_disk_speed_threshold_ms":10}}]'
  IMAGE_SERVICE_BASE_URL: http://{{ assisted_installer_address }}:8888
  IPV6_SUPPORT: "true"
  LISTEN_PORT: "8888"
  NTP_DEFAULT_SERVER: ""
{% if okd_rpms_image | default('') | length > 0 %}
  OKD_RPMS_IMAGE: "{{ okd_rpms_image }}"
{% endif %}
  OS_IMAGES: '{{ os_images | string | regex_replace("'",'"') | regex_replace('True','true') }}'
  POSTGRESQL_DATABASE: installer
  POSTGRESQL_PASSWORD: admin
  POSTGRESQL_USER: admin
  PUBLIC_CONTAINER_REGISTRIES: 'quay.io'
  RELEASE_IMAGES: '{{ release_images | string | regex_replace("'",'"') | regex_replace('True','true') }}'
  SERVICE_BASE_URL: http://{{ assisted_installer_address }}:8090
  STORAGE: filesystem
