---
api_version: v1
kind: Secret
metadata:
  name: argocd-deployment
  namespace: "{{ target_namespace }}"
  annotations:
    avp.kubernetes.io/path: automation-saas-platform/cicd/argocd-deployment
data:
  global-icr-dockerconfigjson: "{{ lookup('unvault', secrets_dir + '/mcsp-global-icr-dockerconfigjson') | trim | b64encode }}"
  github-ssh-key: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-github-ssh-key') | trim | b64encode }}"
  asp-slack-token: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-slack-token') | trim | b64encode }}"
  wo-slack-token: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-wo-slack-token') | trim | b64encode }}"
  isv-clientID: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-isv-clientID') | trim | b64encode }}"
  isv-clientSecret: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-isv-clientSecret') | trim | b64encode }}"
  repo-creds-url: "{{ 'https://github.ibm.com/gmarcy/CICD-ArgoCD-GitOps' | b64encode }}"
  repo-creds-username: "{{ lookup('unvault', secrets_dir + '/ghe_user') | trim | b64encode }}"
  repo-creds-password: "{{ lookup('unvault', secrets_dir + '/ghe_token') | trim | b64encode }}"
type: Opaque
