---
api_version: v1
kind: Secret
metadata:
  name: argocd-fyre-credentials
  namespace: "{{ target_namespace }}"
  annotations:
    avp.kubernetes.io/path: automation-saas-platform/cicd/argocd-fyre-credentials
data:
  fyre-ads-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-ads-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
  fyre-apic-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-apic-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
  fyre-appengine-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-appengine-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
  fyre-asp-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-asp-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
  fyre-cs-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-cs-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
  fyre-gi-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-gi-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
  fyre-itom-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-itom-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
  fyre-lakehouse-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-lakehouse-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
  fyre-openpages-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-openpages-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
  fyre-threatmanagement-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-threatmanagement-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
  fyre-turbonomic-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-turbonomic-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
  fyre-watsonassistant-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-watsonassistant-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
  fyre-wo-fyre-user: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-user') | trim | b64encode }}"
  fyre-wo-fyre-apikey: "{{ lookup('unvault', secrets_dir + '/mcsp-argocd-fyre-asp-fyre-apikey') | trim | b64encode }}"
type: Opaque
