csbaImage: icr.io/automation-saas-platform/csb/common-service-broker-adapter:20230321163125-main-403ee83aa22820d688661f8d8d25f9ac6e103e08
replicas: <place-holder-replicas>
mtlsEnable: true
crEnable: <place-holder-crEnable>
callbackURL: <place-holder-callbackURL>
csbServicePlanID: <place-holder-csbServicePlanID>
csbPaidServicePlanID: <place-holder-csbPaidServicePlanID>
serviceID: <place-holder-serviceID>
brokerPathElement: <place-holder-brokerPathElement>
