---

type: 'simple'
product_group_id: {{ product_group_id }}
cluster_prefix: {{ cluster_name }}
instance_type: 'virtual_server'
site: {{ site }}
size: {{ cluster_size }}
platform: 'x'
os: {{ os }}
count: {{ count }}
public_key: {{ ssh_public_key }}
