{
  "storage": {
    "files": [
      {
        "path": "/usr/local/bin/okd-binaries.sh",
        "mode": 493,
        "overwrite": true,
        "user": {
          "name": "root"
        },
        "contents": { "source": "data:text/plain;base64,{{ lookup('template', 'okd-binaries.sh.j2') | b64encode }}" }
      },
      {
        "path": "/etc/systemd/system/release-image-pivot.service.d/wait-for-okd.conf",
        "mode": 420,
        "overwrite": true,
        "user": {
          "name": "root"
        },
        "contents": { "source": "data:text/plain;base64,{{ '[Unit]\nConditionPathExists=/enoent\n' | b64encode }}" }
      },
      {
        "path": "/etc/systemd/system/agent.service.d/wait-for-okd.conf",
        "mode": 420,
        "overwrite": true,
        "user": {
          "name": "root"
        },
        "contents": { "source": "data:text/plain;base64,{{ '[Unit]\nWants=okd-overlay.service\nAfter=okd-overlay.service\n' | b64encode }}" }
      },
      {
        "path": "/etc/systemd/system/selinux.service.d/wait-for-okd.conf",
        "mode": 420,
        "overwrite": true,
        "user": {
          "name": "root"
        },
        "contents": { "source": "data:text/plain;base64,{{ '[Unit]\nWants=okd-overlay.service\nAfter=okd-overlay.service\n' | b64encode }}" }
      }
    ]
  },
  "systemd": {
    "units": [
      {
        "name": "okd-overlay.service",
        "enabled": true,
        "contents": "[Service]\nType=oneshot\nExecStart=/usr/local/bin/okd-binaries.sh\n\n[Unit]\nWants=network-online.target\nAfter=network-online.target\n\n[Install]\nWantedBy=multi-user.target\n"
      },
      {
        "name": "systemd-journal-gatewayd.socket",
        "enabled": true,
        "contents": "[Unit]\nDescription = Fake systemd-journal-gatewayd.socket\n\n[Socket]\nListenStream = 19531\nAccept = yes\n\n[Install]\nWantedBy = sockets.target\n"
      }
    ]
  }
}
