#!/bin/env bash
set -eux

RPMS="registry.ci.openshift.org/origin/4.10:artifacts"
while ! podman pull --quiet "${RPMS}"
do
    echo "Pull failed. Retrying ${RPMS}..."
    sleep 5
done
mnt=$(podman image mount "${RPMS}")
# Install RPMs in overlayed FS
mkdir /tmp/rpms
curl -o /tmp/rpms/crio.rpm -L {{ crio_rpm_url }}
curl -o /tmp/rpms/cri-tools.rpm -L {{ cri_tools_rpm_url }}

curl -o /tmp/rpms/systemd-journal-remote.rpm -L {{ systemd_journal_remote_rpm_url }}
curl -o /tmp/rpms/firewalld-filesystem.rpm -L {{ firewalld_filesystem_rpm_url }}
curl -o /tmp/rpms/libmicrohttpd.rpm -L {{ libmicrohttpd_rpm_url }}
curl -o /tmp/rpms/systemd.rpm -L {{ systemd_rpm_url }}
curl -o /tmp/rpms/systemd-libs.rpm -L {{ systemd_libs_rpm_url }}
curl -o /tmp/rpms/systemd-pam.rpm -L {{ systemd_pam_rpm_url }}
curl -o /tmp/rpms/info.rpm -L {{ info_rpm_url }}
curl -o /tmp/rpms/systemd-resolved.rpm -L {{ systemd_resolved_rpm_url }}
curl -o /tmp/rpms/systemd-udev.rpm -L {{ systemd_udev_rpm_url }}
curl -o /tmp/rpms/systemd-container.rpm -L {{ systemd_container_rpm_url }}
curl -o /tmp/rpms/checkpolicy.rpm -L {{ checkpolicy_rpm_url }}

cp -rvf ${mnt}/srv/repo/*.rpm /tmp/rpms
tmpd=$(mktemp -d)
mkdir ${tmpd}/{upper,work}
mount -t overlay -o lowerdir=/usr,upperdir=${tmpd}/upper,workdir=${tmpd}/work overlay /usr
rpm -Uvh /tmp/rpms/*
podman rmi -f "${RPMS}"

# Expand /var to 6G if necessary
if (( $(stat -c%s /run/ephemeral.xfsloop) <= 6*1024*1024*1024 )); then
    /bin/truncate -s 6G /run/ephemeral.xfsloop
    losetup -c /dev/loop0
    xfs_growfs /var
    mount -o remount,size=6G /run
fi
