---

all:
  vars:
    inv_cluster_name: mycluster
    inv_cluster_domain: clusters.example.com
    inv_cluster_cidr: 192.168.1.0/24
    inv_cluster_proxy: http://192.168.1.20:3128
    inv_cluster_hosts:
      - server
    inv_cluster_single_node: true
  children:
    cluster_hosts:
      hosts:
        server:
      vars:
        host_domain: example.com
