---

- name: Assert that openshift_distro is defined
  assert:
    that: hostvars['cluster-facts']['openshift_distro'] | default('') | length > 0
    fail_msg: "The assisted installer service is only available on openshift distributions."

- name: Check if the assisted-installer pod is already running
  containers.podman.podman_pod_info:
    name: assisted-installer
  register: _result

- name: Save the pod state
  set_fact:
    pod_state: "{{ _result.pods[0].State | default('Unknown') }}"

- when: pod_state not in ['Running','Degraded']
  block:

    - name: Create the services directory
      file:
        path: "{{ services_dir }}"
        state: directory
        mode: '0755'

    - name: Set the ipxe_folder fact
      set_fact:
        ipxe_folder: "{{ services_dir }}/ipxe"

    - name: Create the ipxe directory
      file:
        path: "{{ ipxe_folder }}"
        state: directory
        mode: '0755'

    - name: Set openshift_distro
      set_fact:
        openshift_distro: "{{ hostvars['cluster-facts']['openshift_distro'] }}"

    - name: Download the default_os_images
      get_url:
        url: "{{ download_urls.os_images[openshift_distro] }}"
        dest: "{{ services_dir }}/{{ download_paths.os_images }}"
        mode: '0644'
      register: _result
      delay: 10
      retries: 30
      until: _result.status_code is defined and _result.status_code == 200

    - name: Download the default_release_images
      get_url:
        url: "{{ download_urls.release_images[openshift_distro] }}"
        dest: "{{ services_dir }}/{{ download_paths.release_images }}"
        mode: '0644'
      register: _result
      delay: 10
      retries: 30
      until: _result.status_code is defined and _result.status_code == 200

    - name: Download the configmap.yml
      get_url:
        url: "{{ download_urls.configmap_yml }}"
        dest: "{{ services_dir }}/{{ download_paths.configmap_yml }}"
        mode: '0644'
      register: _result
      delay: 10
      retries: 30
      until: _result.status_code is defined and _result.status_code == 200

    - set_fact:
        configmap_original: "{{ lookup('file', services_dir + '/' + download_paths.configmap_yml) | from_yaml }}"
        configmap_overrides: "{{ lookup('template', 'configmap-overrides.yml.j2') | from_yaml }}"
      vars:
        disk_encryption_support: "{{ 'false' if (openshift_distro == 'okd') else 'true' }}"
        enable_single_node_dnsmasq: "{{ 'false' if (openshift_distro == 'okd') else 'true' }}"
        os_images: "{{ lookup('file', services_dir + '/' + download_paths.os_images) | from_json }}"
        release_images: "{{ lookup('file', services_dir + '/' + download_paths.release_images) | from_json }}"
        okd_rpms_image: "{{ ('quay.io/vrutkovs/okd-rpms:' + openshift_version) if (openshift_distro == 'okd') else '' }}"

    - name: Create configmap.yml from original and overrides
      copy:
        content: "{{ configmap_original | combine(configmap_overrides, recursive=true) | to_nice_yaml(sort_keys=false,indent=2) }}"
        dest: "{{ services_dir }}/configmap.yml"

    - name: Download the pod.yml
      get_url:
        url: "{{ download_urls.pod_yml }}"
        dest: "{{ services_dir }}/{{ download_paths.pod_yml }}"
        mode: '0644'
      register: _result
      delay: 10
      retries: 30
      until: _result.status_code is defined and _result.status_code == 200

    - set_fact:
        pod_original: "{{ lookup('file', services_dir + '/' + download_paths.pod_yml) | from_yaml }}"
        pod_additions: "{{ lookup('template', 'pod-additions.yml.j2') | from_yaml }}"

    - name: Combine the pod containers
      set_fact:
        pod_containers:
          spec:
            containers: "{{ pod_original.spec.containers | union(pod_additions.spec.containers) }}"

    - name: Create pod.yml from original and overrides
      copy:
        content: "{{ pod_original | combine(pod_additions, recursive=true) | combine(pod_containers, recursive=true) | to_nice_yaml(sort_keys=false,indent=2) }}"
        dest: "{{ services_dir }}/pod.yml"

    - name: Concatenate configmap.yml and pod.yml into kube.yml
      copy:
        content: |
          ---
          {{ lookup('file', services_dir + '/configmap.yml') }}
          ---
          {{ lookup('file', services_dir + '/pod.yml') }}
        dest: "{{ services_dir }}/kube.yml"

    - name: Run assisted-service pod
      containers.podman.podman_play:
        kube_file: "{{ services_dir }}/kube.yml"
        state: started

    - name: Check REST API
      uri:
        url: "{{ assisted_install_rest_url }}/clusters"
      register: _result
      delay: 5
      retries: 10
      until: _result is defined and _result.status == 200

    - name: Check endpoints
      uri:
        url: "{{ item }}"
      loop:
      - "http://{{ assisted_installer_address }}:8090/health"
      - "http://{{ assisted_installer_address }}:8090/ready"
      - "http://{{ assisted_installer_address }}:8080/health"
      - "http://{{ assisted_installer_address }}:8080/healthz"
      - "http://{{ assisted_installer_address }}:8080/ready"
      - "http://{{ assisted_installer_address }}:8080/readyz"
      - "http://{{ assisted_installer_address }}:8080/live"
      - "http://{{ assisted_installer_address }}:8888/live"

- name: Cleanup facts we no longer need
  set_fact:
    _result: {}
    _result_stat: {}
