---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-local-storage-claim
  namespace: {{ nfs_storage_namespace }}
spec:
  storageClassName: {{ local_storage_class }}
  accessModes: [ ReadWriteOnce ]
  resources:
    requests:
      storage: 200Gi
