[defaults]
callbacks_enabled=ansible.posix.profile_tasks
localhost_warning=false
roles_path=roles
stdout_callback=community.general.diy
show_task_path_on_failure=true

[callback_profile_tasks]
task_output_limit = 5

[callback_diy]
